*{
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.css-46uxdg-MuiButtonBase-root-MuiBottomNavigationAction-root.Mui-selected {
    color: red !important;
}
img {
  image-rendering: crisp-edges;
  -webkit-optimize-contrast: high;
}

